.button {
	border-radius: 6px;
	padding: 8px 30px;
	font-size: 16px;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: background 0.25s;
	border: none;
}
.accent {
	background: #312eb5;
}
.accent:hover {
	background: #222096;
}
