.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.invalid {
	border: 1px solid red;
	background: rgb(68, 6, 6);
}

.input-title {
	color: white;
	border: none;
	border-bottom: 1px solid #323232;
	background: none;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-family: "Source Sans 3", sans-serif;
}

input {
	height: 25px;
}
.form-label {
	min-width: 100px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.form-row {
	display: flex;
	align-items: center;
	gap: 50px;
}
