.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
input,
textarea {
	border-radius: 3px;
	border: none;
	outline: none; 
	padding: 5px;
}

input {
	height: 25px;
}
.invalid {
	border: 1px solid red;
	background-color: rgb(160, 81, 87);
}
