.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.input-title {
	border: none;
	background: none;
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	font-family: "Source Sans 3", sans-serif;
	border-bottom: 1px solid #323232;
	border-radius: 0;
	width: 100%;
}
input,
textarea {
	color: inherit;
	border: none;
	background: none;
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	line-height: normal;
	font-family: "Source Sans 3", sans-serif;
	border-bottom: 1px solid #323232;
	width: 100%;
}
input {
	height: 25px;
}
.form-label {
	min-width: 150px;
	display: flex;
	align-items: center;
	gap: 20px;
}
.form-row {
	display: flex;
	align-items: center;
	gap: 50px;
}
::-webkit-calendar-picker-indicator {
	filter: invert(1);
}
.invalid {
	border: 1px solid red;
	background: rgb(68, 6, 6);
}
