.journal-form{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.journal-form input, textarea {
	border-radius: 3px;
	border: none;
	outline: none;
	padding: 5px;
}
.journal-form input{
	height: 25px;
}